# **Data Manipulation with Pandas - Part 1**
## **Introduction to Pandas**

### **Pendahuluan**


“Apa kegunaan mempelajari Pandas? Aku tahunya Pandas nama hewan,” kelakarku pada Andra. Benar kan! Lagi-lagi aku menemukan istilah umum tapi punya makna berbeda di dunia data.

 

“Itu Panda, Aksara. Kalau Pandas berguna untuk melakukan analisis dan pengolahan data dari menengah sampai besar. Coba dibaca saja dulu modulnya biar lebih jelas. Nanti akan ada praktik yang memperjelas,” tukas Andra.

 

Seperti yang bisa kutebak, aku harus memahami modul dan pembelajaran baru ini sendiri. Karena kulihat Andra sudah melengang pergi setelah memberi intruksi sederhana seperti itu. Tak apa, perlahan aku terbiasa juga belajar mandiri. Walau memang lebih nyaman kalau dbimbing, hehehe.

### **Memanggil Library Pandas**
Pandas adalah library python open source yang biasanya digunakan untuk kebutuhan data analisis. Pandas membuat Python supaya dapat bekerja dengan data yang berbentuk tabular seperti spreadsheet dengan cara pemuatan data yang cepat, manipulasi data, menggabungkan data, serta ada berbagai fungsi yang lain.

 

Pertama-tama, harus di import dulu Pandas library di Python script yang telah tersedia. Biasanya ketika menggunakan library Pandas, library Numpy juga diimport, sehingga menjadi:

`import pandas as pd`

`import numpy as np`

### **DataFrame & Series**
Di Pandas terdapat 2 kelas data baru yang digunakan sebagai struktur dari spreadsheet:

**Series**: satu kolom bagian dari tabel dataframe yang merupakan 1 dimensional numpy array sebagai basis data nya, terdiri dari 1 tipe data (integer, string, float, dll).

**DataFrame**: gabungan dari Series, berbentuk rectangular data yang merupakan tabel spreadsheet itu sendiri (karena dibentuk dari banyak Series, tiap Series biasanya punya 1 tipe data, yang artinya 1 dataframe bisa memiliki banyak tipe data).

In [ ]:
import pandas as pd
import numpy as np
# Series
number_list = pd.Series([1,2,3,4,5,6])
print("Series:")
print(number_list)
# DataFrame
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print(matrix_list)

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

### **Atribut DataFrame & Series**
Dataframe dan Series memiliki sangat banyak atribut yang digunakan untuk transformasi data, tetapi ada beberapa attribute yang sering dipakai. Di sini series `number_list` dan data frame `matrix_list` pada subbab sebelumnya digunakan kembali.

Tampilan output di console untuk masing-masing penggunaan attribute berikut merupakan hasil setelah menuliskan seluruh kode di code editor dan kemudian mengklik tombol .

**1. Attribute .info()**

Attribute `.info()` digunakan untuk mengecek kolom apa yang membentuk dataframe itu, data types, berapa yang non null, dll. Attribute ini tidak dapat digunakan pada series, hanya pada data frame saja.

**2. Attribute .shape**

Attribute `.shape` digunakan untuk mengetahui berapa baris dan kolom, hasilnya dalam format tuple (baris, kolom).


**3. Attribute .dtypes**

Attribute `.dtypes` digunakan untuk mengetahui tipe data di tiap kolom. Tipe data object: kombinasi untuk berbagai tipe data (number & text, etc).

**4. Attribute .astype(nama_tipe_data)**

Attribute `.astype(nama_tipe_data)` untuk convert tipe data berdasarkan tipe data seperti: `float, int, str, numpy.float, numpy.int` ataupun `numpy.datetime`.

In [ ]:
# [1] attribute .info()
print("[1] attribute .info()\n")
print(matrix_list.info())

# [2] attribute .shape
print("\n[2] attribute .shape")
print("    Shape dari matrix_list:", matrix_list.shape)

# [3] attribute .dtypes
print("\n[3] attribute .dtypes")
print("    Tipe data number_list:", number_list.dtypes)
print("    Tipe data matrix_list:") 
print(matrix_list.dtypes)

# [4] attribute .astype()
print("\n[4] attribute .astype()")
print("    Konversi number_list ke str:" + number_list.astype("str"))
print("    Konversi matrix_list ke str:") 
print(matrix_list.astype("str"))

[1] attribute .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

[2] attribute .shape
    Shape dari matrix_list: (4, 3)

[3] attribute .dtypes
    Tipe data number_list: int64
    Tipe data matrix_list:
0    object
1    object
2    object
dtype: object

[4] attribute .astype()
0        Konversi number_list ke str:1
1        Konversi number_list ke str:2
2        Konversi number_list ke str:3
3        Konversi number_list ke str:4
4        Konversi number_list ke str:5
5        Konversi number_list ke str:6
dtype: object
    Konversi matrix_list ke str:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

**5. Attribute .copy()**

Attribute `.copy()` digunakan melakukan duplikat, untuk disimpan di variable yang berbeda mungkin supaya tidak loading data lagi.

**6. Attribute .to_list()**

Attribute `.to_list()` digunakan untuk mengubah series menjadi list dan tidak dapat digunakan untuk dataframe.

**7. Attribute .unique()**
Attribute `.unique()` digunakan menghasilkan nilai unik dari suatu kolom, hasilnya dalam bentuk numpy array. Attribute ini hanya digunakan pada series saja.

In [ ]:
# [5] attribute .copy()
print("[5] attribute .copy()")
num_list = number_list.copy()
print("    Copy number_list ke num_list:") 
print(num_list)
mtr_list = matrix_list.copy()
print("\n    Copy matrix_list ke mtr_list:")
print(mtr_list)	

# [6] attribute .to_list()
print("\n[6] attribute .to_list()")
print(number_list.to_list())

# [7] attribute .unique()
print("\n[7] attribute .unique()")
print(number_list.unique())

[5] attribute .copy()
    Copy number_list ke num_list:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

    Copy matrix_list ke mtr_list:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

[6] attribute .to_list()
[1, 2, 3, 4, 5, 6]

[7] attribute .unique()
[1 2 3 4 5 6]

**8. Attribute .index**

Attribute `.index` digunakan untuk mencari index/key dari Series atau Dataframe.

**9. Attribute .columns**

Attribute `.columns` digunakan untuk mengetahui apa saja kolom yang tersedia di dataframe tersebut (hanya digunakan untuk dataframe saja). 

**10. Attribute .loc**

Attribute .loc digunakan slice dataframe atau series berdasarkan nama kolom dan/atau nama index.

**11. Attribute .iloc**

Attribute .iloc digunakan untuk slice dataframe atau series berdasarkan index kolom dan/atau index.

In [ ]:
# [8] attribute .index
print("[8] attribute .index")
print("    Index number_list:")
print(number_list.index)
print("\n    Index matrix_list:")
print(matrix_list.index)	


# [9] attribute .columns
print("\n[9] attribute .columns")
print("    Column matrix_list:")
print(matrix_list.columns)


# [10] attribute .loc
print("\n[10] attribute .loc")
print("    .loc[0:1] pada number_list:")
print(number_list.loc[0:1])
print("\n    .loc[0:1] pada matrix_list:")
print(matrix_list.loc[0:1])


# [11] attribute .iloc
print("\n[11] attribute .iloc")
print("    iloc[0:1] pada number_list:")
print(number_list.iloc[0:1])
print("\n    iloc[0:1] pada matrix_list:")
print(matrix_list.iloc[0:1])

[8] attribute .index
    Index number_list:
RangeIndex(start=0, stop=6, step=1)

    Index matrix_list:
RangeIndex(start=0, stop=4, step=1)

[9] attribute .columns
    Column matrix_list:
RangeIndex(start=0, stop=3, step=1)

[10] attribute .loc
    .loc[0:1] pada number_list:
0    1
1    2
dtype: int64

    .loc[0:1] pada matrix_list:
   0  1  2
0  1  2  3
1  a  b  c

[11] attribute .iloc
    iloc[0:1] pada number_list:
0    1
dtype: int64

    iloc[0:1] pada matrix_list:
   0  1  2
0  1  2  3

### **Creating Series & Dataframe from List**
Untuk membuat Series atau Dataframe bisa dari berbagai macam tipe data container/mapping di python, seperti list dan dictionary, maupun dari numpy array.

 

Pada sub bagian ini, kamu akan membuat Series dan Dataframe yang bersumber dari list. Sekedar meninjau bahwa, list merupakan sebuah kumpulan data berbagai macam tipe data, yang mutable (dapat diganti).

In [ ]:
# Creating series from list
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)

# Creating dataframe from list of list
ex_list_of_list = [[1  ,'a','b' ,'c'],
                   [2.5,'d','e' ,'f'],
		               [5  ,'g','h' ,'i'],
		               [7.5,'j',10.5,'l']]
index = ['dq','lab','kar','lan']
cols = ['float','char','obj','char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object
     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

### **Creating Series & Dataframe from Dictionary**
Untuk membuat Series atau Dataframe bisa dari berbagai macam tipe data container/mapping di python, seperti list dan dictionary, maupun dari numpy array.

Pada sub bagian ini, akan membuat Series dan Dataframe yang bersumber dari dictionary. Sekedar meninjau bahwa, dictionary merupakan kumpulan data yang strukturnya terdiri dari key dan value.

In [ ]:
# Creating series from dictionary
dict_series = {'1':'a',
			   '2':'b',
			   '3':'c'}
ex_series = pd.Series(dict_series)
print(ex_series)
# Creating dataframe from dictionary
df_series = {'1':['a','b','c'],
             '2':['b','c','d'],
             '4':[2,3,'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

1    a
2    b
3    c
dtype: object
   1  2  4
0  a  b  2
1  b  c  3
2  c  d  z

### **Creating Series & Dataframe from Numpy Array**
Untuk membuat Series atau Dataframe bisa dari berbagai macam tipe data container/mapping di python, seperti list dan dictionary, maupun dari numpy array.

 

Pada sub bagian ini, akan membuat Series dan Dataframe yang bersumber dari numpy array. Sekedar meninjau bahwa, numpy array kumpulan data yang terdiri atas berbagai macam tipe data, mutable, tapi dibungkus dalam array oleh library Numpy.

In [ ]:
# Creating series from numpy array (1D)
arr_series = np.array([1,2,3,4,5,6,6,7])
ex_series = pd.Series(arr_series)
print(ex_series)

# Creating dataframe from numpy array (2D)
arr_df = np.array([[1  ,2  ,3  ,5],
                   [5  ,6  ,7  ,8],
                   ['a','b','c',10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64
   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10